<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Highcharts line demo</title>


<script src="js_graficos/disper.js"></script>


</head>

<body>
<script src="js_graficos/disper.js"></script>


<figure class="highcharts-figure">
	<div id="container">
	</div>
	<p class="highcharts-description">Chart showing basic use of bubble series with 
	a custom tooltip formatter. The chart uses plot lines to show safe intake levels 
	for sugar and fat. Bubble charts are great for comparing three dimensions of 
	data without relying on color or 3D charts. </p>
</figure>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script src="js_graficos/disper.js"></script>

</body>

</html>
